<h2>Product Details</h2>

<!-- <div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p>{{ product.description }}</p>

  <button (click)="addToCart(product)">Buy</button>
</div> -->

<div *ngIf="product" style="margin-top:32px;display: flex;width: 90vw;align-items: center;justify-content: center;">
  <div style="display: inline-flex;">
    <div>
      <img
        [src]="product.imageUrl"
        style="object-fit: contain;width: 250px;height: 250px;"
      />
    </div>
    <div>
      <h3>{{ product.name }}</h3>
      <h4>{{ product.price | currency: 'INR' }}</h4>
      <p>{{ product.description }}</p>
      <div class="star-rating" style="padding-bottom:24px">
        <span
          *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
          [class.filled]="i < product.rating"
          >★</span
        >
      </div>
      <app-product-item
        [product]="product"
        [productId]="product.productId"
        [addCart]=true
      ></app-product-item>
    </div>
  </div>
</div>
