<table style="width:93vw;padding:24px">
  <thead>
    <tr style="padding-bottom:6px">
      <th style="text-align:left">Item</th>
      <th style="text-align:center">Price</th>
      <th style="text-align:center">Total</th>
      <th style="text-align:right">Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; index as productId">
      <td>
        <div style="display: inline-flex;gap: 8px;align-items: flex-start;">
          <img
            [src]="product.imageUrl"
            style="object-fit: contain;width: 50px;height: 50px;"
          />
          <div style="display: flex;flex-direction: column;gap: 6px;">
            <span>{{ product.name }}</span>
            <span>{{ product.description }}</span>
          </div>
        </div>
      </td>
      <td>
        <div style="text-align:center">
          <span>{{ product.price | currency: 'INR' }}</span>
        </div>
      </td>
      <td>
        <div style="text-align:center">
          <app-product-item
            [product]="product"
            [productId]="product.productId"
          ></app-product-item>
        </div>
      </td>
      <td style="text-align:right">
        {{ product.price * product.quantity | currency: 'INR' }}
      </td>
    </tr>
    <tr *ngIf="!products || products.length == 0">
      <td style="text-align:left">-</td>
      <td style="text-align:center">-</td>
      <td style="text-align:center">-</td>
      <td style="text-align:right">-</td>
    </tr>
  </tbody>
</table>
<div style="text-align:right;border-top:2px solid #c3c5c8;width:93vw">
  <span>Grand Total: </span>
  <span> {{ totalCost | currency: 'INR' }}</span>
</div>
